<template name="loginwatson">
	<div style="height: 100%;width: 100%" class="tinted-image">

	</div>

	<div id="view-loginwatson" class="backimageOverlay">
		<div class="container">

			<div class="row row-logo">
				<div>
					<img class="ibmLogo" src="/images/logos/ibm-logo.png">
				</div>
			</div>
			<div class="row titleLarge">
				SURO
			</div>
			<div class="row subTitle">
				Surgical Unit Resources Optimization
			</div>
			<div class="row container-cols" style="height: 100%">
				<div class="col s6" style="padding-right:30px">
					<span class="header titleMedium">
					Predict
				</span>
				<span class="textBoxes">
					Analyse historical surgery data to predict waitlist demand for surgery resources, including Operating Theatres, Wards, and Intensive Care Units.
				</span>

				</div>
				<div class="col s6 m6 l6" style="padding-left: 30px">
				<span class="header titleMedium">
					Plan
				</span>
				<span class="textBoxes">
					Allocate optimal surgery plan to each department and schedule patients for four weeks, with respect to the predicted resources demand.
				</span>
				</div>
			</div>
			<div class="row container-cols lastRow" >
				<div class="col s6 m6 l6">

					<button class="btn btn-block goToWatson">Launch</button>

				</div>
				<div class="col s6 m6 l6" style="padding-left: 30px">

					<button class="btn btn-block goToSuro">Launch</button>
				</div>

			</div>
			<div class="row rowDisclaimer">
				<span>
									Image by <a href="https://www.flickr.com/photos/phalinn/8116024703" target="_blank">phalin</a>

				</span>
			</div>
		</div>


	</div>
</template>

