<template name="login">
	<div id="view-login">
		<div class="row">

			<p class="center"><img src="/logo-surgery.png" /></p>
			<h2 class="center">Surgical Unit Resources Optmization</h2>
			<h3 class="center">Preferences SURO</h3>

			<div class="col s6 offset-s3 offset-l3 card">
				<div class="row">
					<div class="col s12">
						<h3>Login</h3>
					</div>
					<div class="col s6 input-field ">
						<label for="username">Username</label>
						<input type="text" id="username"/>
					</div>
					<div class="col s6 input-field ">
						<label for="password">Password</label>
						<input type="password" id="password"/>
					</div>

					<div class="col s12 right">
						<button class="btn" id="submit-button">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>