<head>
	<!-- make sure this app can be properly displayed on a mobile device -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

</head>
<body>
	{{> sAlert}}
</body>

<template name="layout">

    {{!-- The main layout template --}}

    {{#if lostConnection}}
        {{> connecting}}
    {{/if}}

	{{!-- if the user is logged in show the header and main yield --}}
	<div>
		<div class="row">

			{{#if currentUser}}
				<div class="col s12 no-padding" style="height: 80px">
					{{> header}}
				</div>
			{{/if}}

			<div class="col s12" id="main">
				<div class="container" style="width: 100%">
					{{> yield}}
				</div>
			</div>
		</div>

	</div>


</template>



